<div class="modal-dialog payment_methods form">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><b><%= t "payment_methods.title" %></b></h4>
    </div>
    <div class="modal-body">
      <div class="errors"></div>
      <%= render "form_payment_method"  %>
    </div>
  </div>
</div>
