<div class="row summary-box">
  <h2><%= t "summary.title" %></h2>
  <hr>
  <%= render "shared/form_select_payment_method" %>
  <div class="box-summary">
    <%= render "shared/box_summary" %>
  </div>
</div>
