<div class="row">
  <div class="col-md-8">
    <h2><%= t "summary.title" %></h2>
    <%= render "shared/form_select_payment_method" %>
    <div class="tab-summary">
      <%= render "shared/tab_summary" %>
    </div>

  </div>
</div>
