<ul class="nav nav-tabs" role="tablist" id="tabs">
  <li role="presentation" class="active">
    <a href="#result" aria-controls="result" role="tab" data-toggle="tab">Result</a>
  </li>
  <li role="presentation">
    <a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">Chart</a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="result">
    <%= render "shared/result_search" %>
  </div>
  <div role="tabpanel" class="tab-pane" id="chart">
    <%= render "shared/result_chart" %>
  </div>
</div>
