<div class="modal-dialog income_categories">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><b><%= t "income_categories.category" %></b></h4>
    </div>
    <div class="modal-body">
      <div class="errors"></div>
      <%= render "form_income_category"  %>
    </div>
  </div>
</div>
