<div class="modal-dialog user_incomes form">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><b><%= t "user_incomes.category" %></b></h4>
    </div>
    <div class="modal-body">
      <div class="errors"></div>
      <%= render "form_user_income"  %>
    </div>
  </div>
</div>
