@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #EBEBEB;
  padding-top: 50px;
}

.navbar {
  background-color: #545250;
  box-shadow:         2px 2px 5px 2px #ccc;
  border: none;
}

.width-flash {
  width: 100%;
  padding: 0px;
}

.title {
  padding-top: 20px;
  font-size: 30px;
}

.content {
  background-color: WHITE;
}

.table {
  margin: 0px;
}

.menu {
  border-radius: 0px;
}

.collapse ul li:hover{
  background: #080808;
}

.search-item {
  border-radius: 0px;
}

#wrapper {
   height: 100%;
  .content {
    min-height: 500px;
  }

  .footer {
    margin-top: 10px;
    height: 25px;
    border-top: 1px solid #E1E1E1;
    padding-top: 10px;
    font-weight: bold;
  }
}

.search {
  tr {
    height: 45px;
  }
  .type_select, .select-list {
    width: 100%;
  }
}

.summary-box {
  margin: 0px 20px 0px 50px;
  .box {
    -moz-box-shadow:    2px 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
    box-shadow:         2px 2px 2px 2px #ccc;
    margin: 20px 70px 20px 0px;
  }
}

.box-search {
  -moz-box-shadow:    2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  width: 300px;
  font-weight: bold;
  font-style: italic;
}

.form {
  .add-new {
    border-radius: 0px;
    border-color: #eea236;
    margin-bottom: 5px;
    padding-top: 0px;
    height: 37px;
  }

  .item {
    border-radius: 0px;
  }

  .modal-content {
    border-radius: 0px;
    height: auto;
    padding-bottom: 30px;
  }

  .modal-title {
    color: #617684;
  }

  .fa-plus-circle {
    padding-top: 10px;
  }

  .title {
    font-size: 30px;
    text-align: center;
  }
}

.save-transactions {
  .box {
    box-shadow: 1px 1px 3px 2px #ccc;
    margin: 20px 70px 20px 0px;
    padding: 30px 30px 20px;
    width: 100%;
  }
}

