.payment_methods {
  .payment_methods-title {
    color: #359CA9;
    font-size: 30px;
    text-align: center;
  }

  .add-new {
    border-radius: 0px;
    border-color: #eea236;
  }

   .item {
    border-radius: 0px;
  }

  .modal-content {
    border-radius: 0px;
    height: auto;
    padding-bottom: 30px;
  }

  .modal-title {
    color: #617684;
  }

  .fa-plus-circle {
    height: 33px;
    padding-top: 8px;
  }
}

