.save_plan {
  .add-new {
    border-radius: 0px;
    border-color: #eea236;
  }

  .item {
    border-radius: 0px;
  }

  .modal-content {
    border-radius: 0px;
    height: auto;
    padding-bottom: 30px;
  }

  .modal-title {
    color: #617684;
  }

  .fa-plus-circle {
    padding-top: 8px;
  }
}

.save-plans {
  .add-new {
    border-radius: 0px;
    margin-top: 3px;
  }
}
