<div class="modal-dialog save_plan form">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><b><%= t "save_plans.title" %></b></h4>
    </div>
    <div class="modal-body">
      <div class="errors"></div>
      <%= render "form_save_plan"  %>
    </div>
  </div>
</div>
